body{
    background-color: #eb8d00 ;
    font-family: 'Henny Penny', cursive;
}

.header{
    text-align: center;
    
}

h1{
    font-size: 60px;
    display:inline;
    padding-right: 18px;
    padding-left: 20px;
   
}

.result{
    text-align: center;
}

.btn{
    border-radius: 50px 50px;
    border-style:none;
    background-color: black;
    color: white;
    font-family: 'Henny Penny', cursive;
    font-size:25px;
	padding:8px 46px;
	text-decoration:none;
}

@media only screen and (max-width: 600px) {
    .header img{
        width: 50px;
        height: 50px;
    }

    h1{
        font-size: 25px;
    }

    .results img {
        width: 300px;
        height: 250px;
    }

  }